/*BEGIN GameCube Controller Styling*/
.controller.gc {
    background: url(base.png) no-repeat;
    height: 900px;
    width: 1000px;
}

.gc .triggers {
    width: 775px;
    height: 95px;
    position: absolute;
    left: 112px;
	top: 31px;
}

.gc .trigger {
    width: 131px;
    height: 100%;
    background: url(trigger.png);
    opacity: 0;
}

.gc .trigger.left {
    float: left;
}

.gc .trigger.right {
    float: right;
}

.gc .bumper {
    width: 158px;
    height: 100%;
    background: url(buttons.png) no-repeat;
    background-position: -358px 0px;
    opacity: 0;
}

.gc .bumpers {
    position: absolute;
    width: 792px;
    height: 73px;
    left: 123px;
    top: 168px;
}

.gc .bumper.pressed {
    opacity: 1;
}

.gc .bumper.left {
    /* -webkit-transform: rotateY(180deg); */
    /* transform: rotateY(180deg); */
    float: left;
}

.gc .bumper.right {
    float: right;
}

.gc .p0{
background-position: 0 -6px;
}
.gc .p1{
background-position: 0 -28px;
}
.gc .p2{
background-position: 0 -49px;
}
.gc .p3{
background-position: 0 -70px;
}*/

.gc .arrows {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 384px;
    left: 505px;
}

.gc .back, .gc .start {
    width: 43px;
    height: 43px;
    background: #E7E7E7;
    border-radius: 100%;
    border: solid 4.5px rgba(0, 0, 0, .65);
    background-clip: content-box;
    opacity: 0;
}

.gc .back.pressed, .gc .start.pressed {
    opacity: 1;
    filter: invert(1);
    -webkit-filter: invert(1);
}

.gc .back {
    display: none;
}

.gc .start {
    float: right;
}

.gc .abxy {
    position: absolute;
    width: 288px;
    height: 230px;
    top: 227px;
    left: 650px;
}

.gc .button {
    position: absolute;
    background: url(buttons.png);
    opacity: 0;
}

.gc .button.pressed {
    opacity: 1;
}

.gc .a {
    background-position: 0 0;
    width: 114px;
    height: 114px;
    bottom: 35px;
    left: 91px;
}

.gc .b {
    width: 71px;
    height: 71px;
    background-position: -116px 0;
    bottom: 0px;
    left: 1px;
}

.gc .x {
    width: 66px;
    height: 103px;
    background-position: -292px 0;
    top: 65px;
    right: 0px;
}

.gc .y {
    width: 103px;
    height: 66px;
    background-position: -189px 0;
    left: 67px;
    top: 2px;
}

.gc .sticks {
    position: absolute;
    width: 628px;
    height: 392px;
    top: 288px;
    left: 116px;
}

.gc .stick {
    position: absolute;
}

.gc .stick.left {
    top: 24px;
    left: 23px;
    background: url(left-stick.png) center no-repeat;
    height: 121px;
    width: 121px;
}

.gc .stick.right {
    top: calc(100% - 127px);
    left: calc(100% - 125px);
    background: url(cstick.png) center no-repeat;
    width: 84px;
    height: 84px;
}

.gc .dpad {
    position: absolute;
    width: 125px;
    height: 126px;
    top: 181px;
    left: 92px;
}

.gc .dpad {
    position: absolute;
    width: 130px;
    height: 130px;
    top: 527px;
    left: 273px;
}

.gc .face {
    background: url(dpad.png) no-repeat;
    position: absolute;
    opacity: 0;
}

.gc .face.up, .gc .face.down {
    width: 44px;
    height: 65px;
}

.gc .face.left, .gc .face.right {
    width: 65px;
    height: 44px;
}

.gc .face.up {
    left: 42px;
    top: 0;
    background-position: 0px 0px;
}

.gc .face.down {
    left: 42px;
    bottom: 0;
    background-position: -46px 0;
}

.gc .face.left {
    top: 43px;
    left: 0;
    background-position: -93px 0;
}

.gc .face.right {
    top: 43px;
    right: 0px;
    background-position: -160px 0;
}

.gc .face.pressed {
    opacity: 1;
}

/*END GameCube Controller Styling*/
